body{
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("blackboard.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.principal{
    height: 500px;
    width: 30%;
    margin: 0 auto;
    display: flex;
    background-color: #fb6f92;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: white;
    border-radius: 30px;
    font-family: monospace;
    color: white;
}

.titulo{
    font-size: 35px;
    margin-bottom: 10px;
}

.default{
    height: 35px;
    width: 330px;
    border-radius: 8px;
    border: 0;
    background-color: white;
}

.p-bases{
    font-size: 20px;
    margin-bottom: 10px;
}

.select-bases select{
    border-radius: 7px;
    border: 0;
    font-family: monospace;
    margin-bottom: 20px;
}

.btn-calcular{
    font-family: monospace;
    background-color: #ab3d58;
    color: white;
}

.resultado{
    margin-top: 5px;
    height: 60px;
    width: 330px;
    border-radius: 8px;
    border: 0;
    background-color: white;
    color: #ab3d58;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    flex-wrap: wrap;
}

.erro{
    font-size: 13px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}